:root {
  --main-text-color: black;
  --main-text-color-hover: white;
}

html {
  font-family: Helvetica;
  scroll-behavior: smooth;
}

.wrapper {
  display: flex;
  flex-direction: row;
  color: var(--main-text-color);
}

.nav {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 1vw;
  font-size: large;
  /* position: fixed; */
}

.content {
  width: 100%;
  height: 100vh;
}

h2 {
    width: 100%;
    text-align: center;
}

.image {
  margin: 5px;
}

#heading {
  font-size: x-large;
  margin-bottom: 3vh;
}

.nav_element {
  padding: 1vh 0.5vw;
}

.nav_element:hover {
  color: var(--main-text-color-hover);
  background: black;
}

#kh_faehre {
  width: 100%;
}

.bigdiv {
  height: 1000px;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }

  #heading {
    font-size: x-large;
    margin-bottom: 1.5vh;
  }
}

a:link,
a:active,
a:visited {
  text-decoration: none;
  color: var(--main-text-color);
}

a:hover {
  text-decoration: none;
  color: var(--main-text-color-hover);
}
